/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
