/*------------------------------------*\
    #PAGE
\*------------------------------------*/

@view-transition {
  navigation: auto;
}

html {
  font-family: $system-fonts;
  @include font-weight(regular);
  scroll-behavior: smooth;
  background-image: url('/img/css/bg.png');
  background-size: $spacing-unit;
  background-position: 0 -1px;
}
