/* ==========================================================================
   #IMAGES
   ========================================================================== */

video {
  max-width: 100%;
  vertical-align: middle;
}
