/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    text-decoration: none;
    color: $color-links;
    text-decoration-skip: ink;

    @include attention() {
        text-decoration: underline;
    }

}

//.link-quiet {
//    color: $color-gray-light;
//    text-decoration: underline;
//
//    @include attention() {
//        color: $color-links;
//    }
//
//}

.link-secret {
    color: inherit;
    @include font-weight(regular);

    @include attention() {
        color: $color-links;
        text-decoration: none;
    }

}

/**
 * On large enough screens, the header docks to the top of the screen.
 * Accordingly, we need to keep any `:target`ed elements clear.
 */
@supports (position: sticky) {

  @media screen and (min-height: 75em) {

    :target {
      scroll-margin-top: 5 * $spacing-unit;
    }

  }

}
