/*------------------------------------*\
  #TABLES
\*------------------------------------*/

table {
  width: 100%;
  @include font-size(12px);

  @include media-query(lap-and-up) {
    @include font-size(16px);
  }

}

th {
  @include font-weight(bold);
  text-align: left;
}

th, td {
  padding: $spacing-unit--tiny;
}
