/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
    text-decoration: none;
    color: $color-links;

    @include attention() {
        text-decoration: underline;
    }

}
