/*------------------------------------*\
  #TABLES
\*------------------------------------*/

table {
  width: 100%;
  @include font-size(12px);
}

th {
  @include font-weight(bold);
  text-align: left;
}

th, td {
  padding: $spacing-unit--tiny;
}
