/*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/

// Internal variables.
$logo-height:   64px;

@mixin triggers() {
  @include font-size(12px);
  font-family: sans-serif;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

.site-nav {
  @extend %clearfix;

    /**
     * If the site nav exists in a masthead, we absolutely position it. We have
     * to do this because the masthead has a fixed height, partially governed by
     * a faux-fluid-height technique which utilises a zeroed `height` and a
     * large `padding-top` value, ergo, we *have* to take the nav out of flow.
     */
    .page-head--masthead & {
        position: absolute;
        top:   0;
        right: $spacing-unit--small;
        left:  $spacing-unit--small;

        @include media-query(lap-and-up) {
            top:   0;
            right: $spacing-unit;
            left:  $spacing-unit;
        }

    }

}

    .site-nav__home-logo {
        display: block;
        float: left;
    }

    .site-nav__trigger {
      @include triggers();
      float: right;
      line-height: $logo-height;

      &:before {
        content: "☰ ";
      }

      .page--home & {
        color: #fff;
      }

      @include media-query(lap-and-up) {
        display: none;
      }

    }

        .site-nav__logo {
            display: block;
        }

            .site-nav__logo-fill {
                fill: $color-brand;

                .page-head--masthead & {
                    fill: $color-page-head;
                }

            }

    .site-nav__target {
      position: fixed;
    }

    /**
     * On smaller viewports, the nav is a 2x2 grid of links that lies perfectly
     * fluch with the top and bottom of the home link. On larger viewports, the
     * nav becomes a single row of links vertically centred to the logo, but
     * way over to the right.
     */
    .site-nav__list {
      position: fixed;
      top:    6px;
      right:  0;
      bottom: 0;
      left:   0;
      z-index: 1;
      transform: translatex(100%);
      transition: 0.2s;
      will-change: transform;
      background-color: $color-gray;
      margin:  0;
      padding: 0;
      list-style: none;

      .site-nav__target:target + & {
        transform: none;
      }

      @include media-query(lap-and-up) {
        position: relative;
        top:    auto;
        right:  auto;
        bottom: auto;
        left:   auto;
        float: right;
        background-color: transparent;
        overflow: visible;
        transform: none;
      }

    }

        .site-nav__item {
          border-bottom: 1px solid $color-gray-ui;

          &:last-child {
            border-bottom: none;
          }

          @include media-query(lap-and-up) {
            position: relative;
            border-bottom: none;
            float: left;

            .site-nav__submenu & {
              float: none;
            }

            .site-nav__submenu & + & {
              border-top: 1px solid $color-submenu-border;
            }

          }

        }

        .site-nav__item--close {

            @include media-query(lap-and-up) {
              display: none;
            }

          }

          .site-nav__close {
            @include triggers();
            text-align: right;

            &:after {
              content: " ×";
              font-size: 18px;
              line-height: 12px;
            }

          }

          .site-nav__submenu {
            list-style: none;
            margin-left: 0;
            padding-left: $spacing-unit;

            @include media-query(lap-and-up) {
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              z-index: 1;
              padding-left: 0;
              text-align: center;
              white-space: nowrap;
              background-color: #fff;
              border-radius: $brand-round;
              border: 1px solid $color-submenu-border;
              box-shadow: $brand-round $brand-round 0 rgba(0, 0, 0, 0.1);
              visibility: hidden;
              opacity: 0;
              transition: 0.333s;

              .site-nav__item:hover & {
                opacity: 1;
                visibility: visible;
                will-change: opacity;
              }

              &:before,
              &:after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
              }

              &:before {
                border: 12px solid transparent;
                border-bottom-color: $color-submenu-border;
                margin-left: -12px;
              }

              &:after {
                border: 11px solid transparent;
                border-bottom-color: #fff;
                margin-left: -11px;
              }

            }

          }

          .site-nav__link {
            display: block;
            padding: $spacing-unit--small;
            color: #fff;

            @include attention() {
              text-decoration: none;
              color: $color-links;
            }

            @include media-query(lap-and-up) {
              line-height: $logo-height;
              color: $color-gray;
              padding-top: 0;
              padding-bottom: 0;
            }

            .page-head--masthead & {

              @include attention(self) {
                color: $color-masthead;
                }

                @include attention() {
                  text-decoration: underline;
                }

            }

          }

            /**
             * The current state for the nav (in large-screen view) is a notched
             * out triangle lying toward the bottom of the page head. We apply
             * this styling to a silent class which we then extend out of the
             * loop below.
             */
            %site-nav__current {
                color: $color-links;

                @include media-query(lap-and-up) {

                    $notch-size: halve($spacing-unit);

                    position: relative;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        pointer-events: none;
                        border-style: solid;
                        border-color: transparent;
                    }

                    &:before {
                        border-width: $notch-size;
                        border-bottom-color: #f2f2f2;
                        margin-left: -$notch-size;
                        bottom: -$spacing-unit;
                    }

                    &:after {
                        border-width: $notch-size - 1;
                        border-bottom-color: $inuit-base-background-color;
                        margin-left: -($notch-size - 1);
                        bottom: -($spacing-unit + 1);
                    }

                }

            }

            @each $page in about, case-studies, services, workshops, code-reviews, speaking, contact, hire-me {

                .page--#{$page} .site-nav__#{$page} {
                    @extend %site-nav__current;
                }

            }

            .page--home .site-nav__home {
              text-decoration: underline;
            }

            .site-nav__sub-link {
              display: block;
              padding: $spacing-unit--small;
              color: #fff;

              @include attention() {
                text-decoration: none;
              }

              @include media-query(lap-and-up) {
                @include font-weight('regular');
                color: $color-gray;

                @include attention() {
                  color: $color-submenu-link-hover;
                }

              }

            }
