/*------------------------------------*\
    #BANDS
\*------------------------------------*/

.band {
    padding-top:    $spacing-unit;
    padding-bottom: $spacing-unit;
    content-visibility: auto;
    contain-intrinsic-size: 1px 1000px;

    @include media-query(desk) {
        padding-top:    $spacing-unit--large;
        padding-bottom: $spacing-unit--large;
    }

}

.band--large {
    padding: $spacing-unit--large;
}

.band--highlight {
    background-color: $color-band-highlight-background;
}

.band--tint {
    background-color: $color-band-tint-background;
}

.band--dark {
    background-color: $color-band-dark-background;

    &, a {
      color: $color-band-dark;
    }
}

.band--attention {
    background-color: $color-band-attention-background;
    color: $color-band-attention;
}

  .band__title {
    text-align: center;
    @include font-size(16px);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: auto;
  }
