/* ==========================================================================
   #CROSS-SELL
   ========================================================================== */

/**
 * Cross-link other articles from post-to-post.
 */

.c-cross-sell {
  width: 50%;
  float: left;
  margin-right: var(--spacing-unit--small);

  @include media-query(lap-and-up) {
    margin-left: calc(-1 * var(--spacing-unit--small));
  }

  &:nth-of-type(even) {
    float: right;
    text-align: right;
    margin-right: 0;
    margin-left: var(--spacing-unit--small);

    @include media-query(lap-and-up) {
      margin-right: calc(-1 * var(--spacing-unit--small));
    }

  }

}

.c-cross-sell__title {
  font-size: var(--spacing-unit--small);
  line-height: 2;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}
