/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    @include font-weight(bold);
    @include vendor(transition, 0.2s);
    position: relative;
    will-change: transform;

    @include attention() {
      background-color: darken($color-btn, 10%);
          border-color: darken($color-btn, 10%);
      transform: translateY(-1px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 4px 0 #000;
      opacity: 0;
      will-change: opacity;
    }

    @include attention() {
      &::before {
        opacity: 0.1;
      }
    }

}

.btn--secondary {
    background: none;
    color: $color-btn;

    @include attention() {
        background: none;
        color: darken($color-btn, 10%);
    }

}

.btn--positive {
    @include font-weight(regular);

    @include attention(self) {
        background-color: $color-positive;
            border-color: $color-positive;
    }

}

//.btn--negative {
//    @include font-weight(regular);
//
//    @include attention(self) {
//        background-color: $color-negative;
//            border-color: $color-negative;
//    }
//
//}
