/*------------------------------------*\
  #NEWSLETTER
\*------------------------------------*/

.c-newsletter {
  text-align: center;
}

  .c-newsletter__title {
    @include font-size(16px);
    @include font-weight(bold);
    color: inherit;
    margin-bottom: 0;
  }

  .c-newsletter__text {
    @include font-size(12px);
  }

  .c-newsletter__email {
    width: 100%;
    margin-bottom: $spacing-unit;
    text-align: center;

    @include media-query(lap-and-up) {
      width: auto;
      margin-bottom: 0;
      min-width: 40ch;
    }

  }

  .c-newsletter__submit {
    width: 100%;

    @include media-query(lap-and-up) {
      width: auto;
    }

  }
