/*------------------------------------*\
    #PULL-QUOTE
\*------------------------------------*/

.pull-quote {
    @include font-size(22px);

    .carousel & {
        text-indent: 0;
    }

}

.pull-quote--banner {
    max-width: 25em;
    padding: 0 $spacing-unit--small;
    margin: 0 auto;

    @include media-query(lap-and-up) {
        @include font-size(32px, false);
        line-height: 1.4;
    }

}
