/* ==========================================================================
   #CROSS-SELL
   ========================================================================== */

/**
 * Cross-link other articles from post-to-post.
 */

.c-cross-sell {
  width: 50%;
  float: left;
  margin-right: $spacing-unit--small;

  @include media-query(lap-and-up) {
    margin-left: -$spacing-unit--small;
  }

  &:nth-of-type(even) {
    float: right;
    text-align: right;
    margin-right: 0;
    margin-left: $spacing-unit--small;

    @include media-query(lap-and-up) {
      margin-right: -$spacing-unit--small;
    }

  }

}

.c-cross-sell__title {
  font-size: $spacing-unit--small;
  line-height: 2;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}
