/* ==========================================================================
   #HIGHLIGHTS
   ========================================================================== */

.c-highlight {
  $_text-color: #36393a;

  padding: var(--spacing-unit);
  background-color: var(--color-hilite);

  &, a {
    color: $_text-color;
  }

  &::selection,
  ::selection {
    color: var(--color-hilite);
    background-color: $_text-color;
  }

  a {
    text-decoration: underline;
  }

  > :last-child {
    margin-bottom: 0;
  }

}

.c-highlight--small {
  padding: var(--spacing-unit--small);
}

.c-highlight--ribbon {
  display: block;
  text-align: center;
}
