/*------------------------------------*\
    #PROMO
\*------------------------------------*/

.promo {
    padding-bottom: 0;
    text-align: center;

    @include media-query(desk) {
        padding-bottom: $spacing-unit;
    }

}

    .promo__block {
        @extend %margin-bottom;
    }

    .promo__link {
      display: block;
      color: #333;
      font-weight: 400;

      &:hover {
        text-decoration: none;
      }

    }

    .promo__links {
        text-align: center;
    }

    .promo__links-spacer {
        @include media-query(lap-and-up) {
            padding-right: 1.5em;
            padding-left: 1.5em;
        }
    }
