/*------------------------------------*\
    #BOXES
\*------------------------------------*/

.box {
    border-radius: var(--border-radius)
}

.box--highlight {
    background-color: var(--color-box-highlight-background);
    border-bottom: 1px solid var(--color-box-highlight-border);
}

.box--tint {
    background-color: var(--color-box-tint-background);
}
