/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * 1. Fight repaints.
 * 2. Fight repaints of subsequent elements.
 */

.btn {
    @include font-weight(bold);
    @include vendor(transition, transform 0.2s);
    position: relative;
    @include font-weight(bold);
    will-change: transform; /* [1] */
    z-index: 1; /* [2] */

    @include attention() {
      background-color: darken($color-btn, 10%);
          border-color: darken($color-btn, 10%);
      transform: translateY(-1px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 4px 0 #000;
      opacity: 0;
      will-change: opacity;
    }

    @include attention() {
      &::before {
        opacity: 0.1;
      }
    }

    /**
     * Remove CSS Wizardry favicon from Pagination  Super aggressive specificity
     * override needed, unfortunately.
     */
    &#{&}#{&}::after {
      display: none;
    }

}

/**
 * I think inuitcss and ~something else~ have caused a weird regression that
 * I’ve never seen before. I just want to get it fixed, so I’m hard-coding some
 * padding values here for now.
 */
.btn--full {
  padding: 10px 22px
}

.btn--secondary {
    background: none;
    color: $color-btn;

    @include attention() {
        background: none;
        color: darken($color-btn, 10%);
    }

}

.btn--positive {

    @include attention(self) {
        background-color: $color-positive;
            border-color: $color-positive;
    }

}

.btn--negative {

    @include attention(self) {
        background-color: $color-negative;
            border-color: $color-negative;
    }

}
