/*------------------------------------*\
    #PROMO
\*------------------------------------*/

.promo {
    padding-bottom: 0;

    @include media-query(desk) {
        padding-bottom: $spacing-unit;
    }

}

    .promo__block {
        @extend %margin-bottom;
    }

    .promo__links {
        text-align: center;
    }

    .promo__links-spacer {
        @include media-query(lap-and-up) {
            padding-right: 1.5em;
            padding-left: 1.5em;
        }
    }
