/*------------------------------------*\
  #ADS
\*------------------------------------*/

.adpacks {
  min-height: calc(9 * var(--spacing-unit));
}

.carbon-wrap {
  display: block;
  text-align: center;
}

  .carbon-img {
    display: block;
    margin-bottom: 6px;

    > img {
      border-radius: var(--border-radius);
    }

    &:hover + .carbon-text {
      text-decoration: underline;
    }

  }

  .carbon-text {
    overflow: hidden;
    display: block;
    color: var(--color-gray-mid);
    text-wrap: balance;
  }

  .carbon-poweredby {
    display: block;
    text-align: center;
    @include font-size(12px);
    text-transform: uppercase;
    color: var(--color-gray-light);
    letter-spacing: 0.01em;
  }
