/*------------------------------------*\
    #CAROUSEL
\*------------------------------------*/
.carousel {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

    .carousel__panes {
        margin:  0;
        padding: 0;
        list-style: none;
        position: relative;
        display: table;
        width: 500%;
        overflow: hidden;
        @include vendor(filter, blur(0));

        -webkit-animation: carousel 30s alternate infinite;
           -moz-animation: carousel 30s alternate infinite;
                animation: carousel 30s alternate infinite;
    }

    .carousel__panes:hover {
        -webkit-animation-play-state: paused;
           -moz-animation-play-state: paused;
                animation-play-state: paused;
    }
        
        .carousel__pane {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            width: 20%; /* 100 / number of panes */
        }

@-webkit-keyframes carousel{
    0%    { left:    0 ; -webkit-filter: blur(0  ); }
    15%   { left:    0 ; -webkit-filter: blur(0  ); }
    17.5% {              -webkit-filter: blur(2px); }
    20%   { left: -100%; -webkit-filter: blur(0  ); }
    35%   { left: -100%; -webkit-filter: blur(0  ); }
    37.5% {              -webkit-filter: blur(2px); }
    40%   { left: -200%; -webkit-filter: blur(0  ); }
    55%   { left: -200%; -webkit-filter: blur(0  ); }
    57.5% {              -webkit-filter: blur(2px); }
    60%   { left: -300%; -webkit-filter: blur(0  ); }
    75%   { left: -300%; -webkit-filter: blur(0  ); }
    77.5% {              -webkit-filter: blur(2px); }
    80%   { left: -400%; -webkit-filter: blur(0  ); }
    100%  { left: -400%; -webkit-filter: blur(0  ); }
}

@-moz-keyframes carousel{
    0%    { left:    0 ; -moz-filter: blur(0  ); }
    15%   { left:    0 ; -moz-filter: blur(0  ); }
    17.5% {              -moz-filter: blur(2px); }
    20%   { left: -100%; -moz-filter: blur(0  ); }
    35%   { left: -100%; -moz-filter: blur(0  ); }
    37.5% {              -moz-filter: blur(2px); }
    40%   { left: -200%; -moz-filter: blur(0  ); }
    55%   { left: -200%; -moz-filter: blur(0  ); }
    57.5% {              -moz-filter: blur(2px); }
    60%   { left: -300%; -moz-filter: blur(0  ); }
    75%   { left: -300%; -moz-filter: blur(0  ); }
    77.5% {              -moz-filter: blur(2px); }
    80%   { left: -400%; -moz-filter: blur(0  ); }
    100%  { left: -400%; -moz-filter: blur(0  ); }
}

@keyframes carousel{
    0%    { left:    0 ; filter: blur(0  ); }
    15%   { left:    0 ; filter: blur(0  ); }
    17.5% {              filter: blur(2px); }
    20%   { left: -100%; filter: blur(0  ); }
    35%   { left: -100%; filter: blur(0  ); }
    37.5% {              filter: blur(2px); }
    40%   { left: -200%; filter: blur(0  ); }
    55%   { left: -200%; filter: blur(0  ); }
    57.5% {              filter: blur(2px); }
    60%   { left: -300%; filter: blur(0  ); }
    75%   { left: -300%; filter: blur(0  ); }
    77.5% {              filter: blur(2px); }
    80%   { left: -400%; filter: blur(0  ); }
    100%  { left: -400%; filter: blur(0  ); }
}
