/*------------------------------------*\
    #PROMO
\*------------------------------------*/

.promo {
    @extend %margin-bottom;
    padding-bottom: 0;
}

    .promo__block {
        @extend %margin-bottom;
    }

    .promo__links {
        text-align: center;

        @include media-query(lap-and-up) {
            word-spacing: 1.5em;

            > .btn {
                word-spacing: normal;
            }

        }

    }
