/*------------------------------------*\
    #BANDS
\*------------------------------------*/

.band {
    padding-top:    var(--spacing-unit);
    padding-bottom: var(--spacing-unit);
    content-visibility: auto;
    contain-intrinsic-size: 1px 1000px;

    @include media-query(desk) {
        padding-top:    var(--spacing-unit--large);
        padding-bottom: var(--spacing-unit--large);
    }

}

.band--large {
    padding: var(--spacing-unit--large);
}

.band--highlight {
    background-color: var(--color-band-highlight-background);
}

.band--tint {
    background-color: var(--color-band-tint-background);
}

.band--dark {
    background-color: var(--color-band-dark-background);

    &, a, code {
      color: var(--color-band-dark);
    }
}

.band--attention {
    background-color: var(--color-band-attention-background);
    color: var(--color-band-attention);
}

  .band__title {
    text-align: center;
    @include font-size(12px);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: auto;
  }
