/*------------------------------------*\
  #FORMS
\*------------------------------------*/

.c-label {
  display: block;
}

.c-input-text {
  border: 2px solid var(--color-gray-ui);
  min-width: 25ch;
  outline: none;
  transition: border-color 0.2s;
  padding: 10px 6px;
  vertical-align: middle;
  border-radius: var(--border-radius);

  &:active,
  &:focus {
    border-color: var(--color-brand);
  }

  &::placeholder {
    color: var(--color-gray-light);
  }

}
