/*------------------------------------*\
    #POST
\*------------------------------------*/

.post {
}

    .post__date {
        display: block;
        color: $color-gray-light;
        margin-bottom: 0;
    }

    .post__title {
        margin-bottom: 0;

        > a {
            border-radius: $base-round;
            padding-right: 0.2em;
            padding-left:  0.2em;
            margin-left:  -0.2em;

            @include attention() {
                text-decoration: none;
                background-color: $color-links;
                color: $inuit-base-background-color;
            }

        }

    }
