/*------------------------------------*\
    #PULL-QUOTE
\*------------------------------------*/

.pull-quote {
    @include font-size(18px);
    font-style: normal;
    color: var(--color-quote);
    padding-left: $spacing-unit--small;
    border-left: $spacing-unit--small solid var(--color-brand);
    border-radius: $base-round;
    margin-right: 0;
    margin-left:  0;

    @include media-query(lap-and-up) {
        margin-left: calc(-1 * var(--spacing-unit));
    }

}

    .pull-quote__source {
        font-style: normal;
    }

/**
 * Banner-style quotes, used primarily in the homepage carousel. Unfortunately
 * we need to undo a few things that we’d already set previously.
 */
.pull-quote--banner {
    max-width: 27em;
    padding: 0 var(--spacing-unit--small);
    text-indent: 0;
    border-left: none;
    margin: 0 auto;
    color: var(--color-quote--banner);
    font-style: normal;

    @include media-query(lap-and-up) {
        @include font-size(32px, false);
        line-height: 1.4;
    }

}

/**
 * Pull quotes that sit within the context of their surrounding copy.
 */
.pull-quote--context {
  @include font-size(20px);
  font-style: italic;

    @include media-query(lap-and-up) {
        width: 50%;
        float: left;
        margin-right: var(--spacing-unit);
        padding-right: $spacing-unit--small;
        padding-left: 0;
        border-right: $spacing-unit--small solid var(--color-brand);
        border-left: none;
        text-align: right;
    }

}

.pull-quote--context-alt {
  @include font-size(20px);
  font-style: italic;

    @include media-query(lap-and-up) {
        width: 50%;
        float: right;
        margin-left: var(--spacing-unit);
    }

}
