/* ==========================================================================
   #TITLE
   ========================================================================== */

/* Inline Quotes
   ========================================================================== */

q {
    font-style: italic;
    quotes: "‘" "’" "“" "”";

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }

}





/* Block Quotes
 *
 * 1. Hang opening punctuation.
 * 2. Use the specced way to hang punctuation in supporting browsers.
   ========================================================================== */

blockquote {
    margin-right: var(--spacing-unit--large);
    margin-left:  var(--spacing-unit--large);
    font-style: italic;
    quotes: "“" "”";

    p {
        text-indent: -0.45em; /* [1] */

        @supports (hanging-punctuation: first last) { /* [2] */
          hanging-punctuation: first last;
          text-indent: 0;
        }

        &:before {
            content: open-quote;
        }

        &:after {
            content: no-close-quote;
        }

        &:last-of-type {
            margin-bottom: 0;

            &:after {
                content: close-quote;
            }

        }

    }

    q {
        quotes: "‘" "’";

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }

    }

}
