/*------------------------------------*\
    #PAGE
\*------------------------------------*/

@media (prefers-reduced-motion: no-preference) {

  @view-transition {
    navigation: auto;
  }

}

html {
  font-family: $system-fonts;
  @include font-weight(regular);
  scroll-behavior: smooth;
}
