/*------------------------------------*\
  #DETAILS
\*------------------------------------*/

details {
  @extend %margin-bottom;

  & + & {
    padding-top: var(--spacing-unit);
    border-top: 1px solid var(--color-gray-ui);
  }

}

summary {
  color: var(--color-brand);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus,
  [open] > & {
    text-decoration: underline;
  }

  [open] > & {
    @extend %margin-bottom;
  }

}
