/*------------------------------------*\
  #DETAILS
\*------------------------------------*/

details {
  @extend %margin-bottom;

  & + & {
    padding-top: $spacing-unit;
    border-top: 1px solid $color-gray-ui;
  }

}

summary {
  color: $color-brand;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus,
  [open] > & {
    text-decoration: underline;
  }

  [open] > & {
    @extend %margin-bottom;
  }

}
