/*------------------------------------*\
    #PAGE
\*------------------------------------*/

@media (prefers-reduced-motion: no-preference) {

  @view-transition {
    navigation: auto;
  }

}

html {
  font-family: var(--font-family-system);
  @include font-weight(regular);
  scroll-behavior: smooth;
}
