/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

.o-list-inline {
  margin-left: 0;

  > li {
    display: inline-block;
  }

}

.o-list-inline--spaced {

  > li {
    padding: 0.75rem;

  }

}
