/*------------------------------------*\
  #POST
\*------------------------------------*/

.s-post {

  table {

  }

  thead {
    border-bottom: 2px solid $color-gray-ui;
  }

  tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  :target {
    background-color: #ffc;
  }

}
