/*------------------------------------*\
  #POST
\*------------------------------------*/

.s-post {

  /**
   * Avoid orphans.
   */
  p, li {
    text-wrap: pretty;
  }

  table {

  }

  thead {
    border-bottom: 2px solid $color-gray-ui;
  }

  tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  iframe {
    max-width: 100%;
    width: 100%;
    border: none;
    margin-bottom: $spacing-unit;
  }

  :target {
    background-color: $color-hilite;
  }

  /**
   * Lazily-render any late text nodes. Scoped to any Ps after the second H2.
   *
   * 1. The actual values are mostly irrelevant, but 250px seems like a suitable
   *    and sensible height estimate for most paragraphs.
   */
  > h2:nth-of-type(2) ~ p {
    content-visibility: auto;
    contain-intrinsic-size: 1px 250px; /* [1] */
  }

  /**
   * Indicate internal links.
   */
  a[href^="https://csswizardry.com"]::after,
  a[href^="/"]::after {
    content: "";
    display: inline-block;
    width:  1ch;
    height: 1ch;
    background-image: url(/icon.png);
    background-size: cover;
    margin-left: 0.1ch;
    vertical-align: super;
  }

  a:visited:not(.btn) {
    //color: #fc4f6f;
    color: #6a0dad;
  }

}
