///*------------------------------------*\
//    #RESPONSIVE
//\*------------------------------------*/

// Hold our breakpoint aliases and conditions in a list.
//
// These can be invoked later on via the `media-query()` mixin found in
// `_tools.responsive`.

$breakpoints: (
    "palm"          "screen and (max-width: 719px)",
    "lap"           "screen and (min-width: 720px) and (max-width: 1023px)",
    "lap-and-up"    "screen and (min-width: 720px)",
    "portable"      "screen and (max-width: 1023px)",
    "desk"          "screen and (min-width: 1024px)"
    "retina"        "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
)!default;
