///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-brand:       $brand-color;
$color-pink:        $color-brand;
$color-gray:        #333;
$color-gray-light:  #999;
$color-gray-ui:     #ddd;
$color-green:       #859900;
$color-highlight:   #fff;
$color-tint:        #f2f2f2;
$color-positive:    #3f990f;
$color-negative:    #9f102e;





// Page
$inuit-base-background-color:   #f9f9f9;
$inuit-base-text-color:         $color-gray;





// Links
$color-links:           $color-pink;
$color-links-carousel:  $color-gray-ui;





// Text
$color-code:            $color-green;
$color-pre-background:  $color-gray;
$color-pre:             #fff;





// Buttons
$color-btn:     $color-links;





// Iconic
$color-iconic:  $color-gray-ui;





// Page head
$color-masthead:                #fff;
$color-page-head-border:        $color-pink;
$color-page-head:               #fff;
$color-page-head-background:    #fff;





// Site nav
$color-site-nav:    $inuit-base-text-color;





// Page foot
$color-page-foot:               #fff;





// Page micro
$color-page-micro:              #fff;
$color-page-micro-background:   $color-gray;





// Headings
$color-headings:    $color-pink;
$color-heading-sub: $color-gray;





// Quotes
$color-quote:           $color-gray-light;
$color-quote--banner:   $color-gray;





// Boxes
$color-box-highlight-background:    $color-highlight;
$color-box-highlight-border:        $color-gray-ui;
$color-box-tint-background:         $color-tint;





// Bands
$color-band-highlight-background:   $color-highlight;
$color-band-tint-background:        $color-tint;
$color-band-dark:                   #fff;
$color-band-dark-background:        $color-gray;
