/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color-brand:   $brand-color;
$color-pink:    $color-brand;





// Page
$inuit-base-background-color:   #f9f9f9;
$inuit-base-text-color:         #333;





// Links
$color-links:   $color-pink;





// Buttons
$color-btn:     $color-links;





// Page head
$color-page-head:   #fff;





// Headings
$color-headings:    $color-pink;





// Boxes
$color-box-highlight-background:    #fff;
$color-box-highlight-border:        #ddd;
