/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$color-brand:   $brand-color;
$color-pink:    $color-brand;





// Links
$color-links:   $color-pink;





// Buttons
$color-btn:     $color-links;





// Headings
$color-headings:    $color-pink;
