///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

$brand-color:   #f43059;
$brand-round:   3px;
$base-round:    $brand-round;

// Styles specific to page headers. Implemented in
// `_components.page-head[--masthead].scss`, but defined globally here.
$header-border-width:   6px;
$header-max-height:     480px;

$system-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
