///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-brand:   $brand-color;
$color-pink:    $color-brand;
$color-green:   #859900;





// Page
$inuit-base-background-color:   #f9f9f9;
$inuit-base-text-color:         #333;





// Links
$color-links:   $color-pink;





// Text
$color-code:    $color-green;





// Buttons
$color-btn:     $color-links;





// Page head
$color-page-head:           #fff;
$color-page-head-border:    $color-pink;





// Page foot
$color-page-foot:               #fff;
$color-page-foot-background:    #ccc;





// Page micro
$color-page-micro:              #fff;
$color-page-micro-background:   #333;





// Headings
$color-headings:    $color-pink;





// Boxes
$color-box-highlight-background:    #fff;
$color-box-highlight-border:        #ddd;





// Bands
$color-band-highlight-background:   #fff;
