///*------------------------------------*\
//    #RESPONSIVE
//\*------------------------------------*/

@mixin media-query($alias) {

    $breakpoint-found: false;

    @each $breakpoint in $breakpoints {

        $name:      nth($breakpoint, 1);
        $condition: nth($breakpoint, 2);

        @if $alias == $name and $condition {

            $breakpoint-found: true;

            @media #{$condition} {
                @content;
            }

        }

    }

    @if $breakpoint-found == false{
        @warn "Breakpoint ‘#{$alias}’ does not exist"
    }

}
