/*------------------------------------*\
    #SHOW-HIDE
\*------------------------------------*/

@mixin hide() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

.hide { @include hide(); }

@include media-query(palm) {
    .hide-palm { @include hide(); }
}

@include media-query(lap) {
    .hide-lap { @include hide(); }
}

@include media-query(lap-and-up) {
    .hide-lap-and-up { @include hide(); }
}

@include media-query(portable) {
    .hide-portable { @include hide(); }
}

@include media-query(desk) {
    .hide-desk { @include hide(); }
}
