.sass-cache/
_site/
PSDs/
bower_components/
*.draft.md
*.map
.jekyll-metadata
.jekyll-cache/
_drafts/
Icon
Icon?
Gemfile.lock
.bundle/
vendor/bundle/
*.sw?
.DS_Store
img/css/_masthead.jpg
_workflows/
llm-scripts/
_ingest/
artefacts/
