---
layout: page
title: CSS Wizardry Posts Archive
page-class: page--archive
permalink: /archive/
---

<section class="posts">

  <p>I have written <b>{{ site.posts | size  }}</b> post on this site, mostly
  covering CSS, architecture, performance, and web development. Find a
  reverse-chronological list of them all here.</p>

  {% for post in site.posts %}
    {% assign currentDate = post.date | date: "%Y" %}
    {% if currentDate != myDate %}
      {% unless forloop.first %}</ol>{% endunless %}
      <hr />
      <h2>{{ currentDate }}</h2>
      <ol reversed>
      {% assign myDate = currentDate %}
    {% endif %}
      <li>
        <b><time class="" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d" }}</time>:</b>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% if forloop.last %}</ol>{% endif %}
  {% endfor %}

</section>
