
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */.page-foot{font-size:12px;font-size:.75rem;line-height:2;padding-bottom:0;content-visibility:auto}@media screen and (min-width: 64em){.page-foot{padding-bottom:24px}}


