---
layout: landing
title: CSS Wizardry
masthead-title: Front-end architecture and performance engineering
page-class: page--home
---

</div><!-- /wrapper -->

<section class="[ band  band--highlight ]  promo">

    <div class="wrapper">

        <ul class="layout">

            <li class="layout__item  desk-one-third">

                <div class="media  promo__block">
                    <img src="http://dummyimage.com/64x64/ddd/ddd" class="media__img" style="border-radius: 100%;" />
                    <div class="media__body">
                        <h2 class="heading  mb0">Consultancy</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>

            <li class="layout__item  lap-and-up-one-half  desk-one-third">

                <div class="media  promo__block">
                    <img src="http://dummyimage.com/64x64/ddd/ddd" class="media__img" style="border-radius: 100%;" />
                    <div class="media__body">
                        <h2 class="heading  mb0">Engineering</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>

            <li class="layout__item  lap-and-up-one-half  desk-one-third">

                <div class="media  promo__block">
                    <img src="http://dummyimage.com/64x64/ddd/ddd" class="media__img" style="border-radius: 100%;" />
                    <div class="media__body">
                        <h2 class="heading  mb0">Workshops</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>

        </ul>

    </div>

</section>

<div class="wrapper">

<div class="layout">
    <div class="layout__item  lap-and-up-two-thirds">

        <section class="posts">
            <h3 class="heading">Articles</h3>
            <ul class="ui-list  mb">
                {% for post in paginator.posts %}
                <li class="ul-list__item">
                    <span class="post__time">{{ post.date | date: "%d %B, %Y" }}</span>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <ol class="layout" data-ui-component="pagination">
            <li class="layout__item  lap-and-up-one-half  mb">
                {% if paginator.next_page %}
                    <a href="/page{{paginator.next_page}}" class="btn  btn--full  btn--secondary">Older articles</a>
                {% else %}
                    Older articles
                {% endif %}
            
                {% if paginator.previous_page %}
                    <li class="layout__item  lap-and-up-one-half  mb">
                        {% if paginator.previous_page == 1 %}
                            <a href="/" class="btn  btn--full">Newer articles</a>
                        {% else %}
                            <a href="/page{{paginator.previous_page}}" class="btn  btn--full">Newer articles</a>
                        {% endif %}
                {% else %}
                {% endif %}

        </ol>

    </div

   ><div class="layout__item  lap-and-up-one-third">

        <div class="box  box--highlight">
            {% include sub-content.html %}
        </div>

    </div>

</div>
