/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
    display: inline-block;
    vertical-align: middle;
    padding: $base-spacing-unit / 2;
    text-align: center;
    background-color: $brand-color;
    font-weight: 300;

    &,
    &:hover {
        color: #fff;
        text-decoration: none;
    }

}

.btn--full {
    width: 100%;
}

.btn--large {
    padding: $base-spacing-unit;
}

.btn--secondary {
    background-color: #3f990f;
}

.btn--tertiary {
    background-color: #9f102e;
}
