/*------------------------------------*\
    $LISTS
\*------------------------------------*/
.block-list{
    
    &,
    > li{
        border-color:rgba(0, 0, 0, 0.075);
    }

    &{
        border-bottom-width:1px;
        border-bottom-color:rgba(255, 255, 255, 0.75);
    }

    > li{
        border-top-width:1px;
        border-top-color:rgba(255, 255, 255, 0.75);
    }
}

ol{
    ol{
        list-style-type:lower-alpha;
    }
}


/**
 * Lists of information in a `dl`.
 */
.info-list {
    @include font-size(12px);
    font-family: sans-serif;

        @media only screen and (min-width: 480px) {
            @include vendor(column-count, 2);
            @include vendor(column-gap, 12px);
        }
}

    .info-list__title {
        float: left;
        clear: left;
        font-weight: bold;

        &:after {
            content: ":";
        }

    }

    .info-list__info {
        overflow: hidden;
        padding-left: 6px;
        font-weight: normal;
    }
