/*------------------------------------*\
    $MISC
\*------------------------------------*/
/**
 * Make up my own responsive push class for the sidebar.
 */
@include media-query(desk){
    .desk-push--one-tenth{
        position:relative;
        left:10%;
    }
}


/**
 * Hide stuff...
 */
.hide{
    position:absolute;
    left:-9999px;
}
@each $state in palm, lap, portable, desk{
    @include media-query(#{$state}){
        .hide--#{$state}{
            position:absolute;
            left:-9999px;
        }
    }
}


/**
 * Coloured highlighting!
 */
::selection         { background-color:$brand-color; color:#fff; }
::-moz-selection    { background-color:$brand-color; color:#fff; }
