/*------------------------------------*\
    $MISC
\*------------------------------------*/
/**
 * Make up my own responsive push class for the sidebar.
 */
@include media-query(desk){
    .desk-push--one-tenth{
        position:relative;
        left:10%;
    }
}

.\.net-award{
    background-color:rgb(241, 179, 0);
    text-align:left;

    &:hover{
        text-decoration:none;
    }
}

.\.net-award,
    .\.net-award__title{
        color:#fff;
    }

    .\.net-award__title{
        font-weight:bold;
        text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #fff;

        .\.net-award > &{
            margin-bottom:0;
        }
    }


/**
 * Coloured highlighting!
 */
::selection         { background-color:$brand-color; color:#fff; }
::-moz-selection    { background-color:$brand-color; color:#fff; }
