/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html{
    font-family:Ubuntu, sans-serif;
    font-weight:300;
    background-color:#f9f9f9;
    color:#444;
    @include vendor(text-size-adjust, none);
}

/**
 * 1. Base unit plus the 10px taken up by `.strip`.
 */
body{
    padding-top:$base-spacing-unit + 10; /* [1] */
    padding-left:0;
    -webkit-font-smoothing:antialiased;
    @include media-query(desk){
        padding-top:$base-spacing-unit;
        padding-left:10px; /* [1] */
    }
}


/**
 * Page-level wrapper.
 */
.wrapper{
    max-width:1100px;
    margin-right:auto;
    margin-left: auto;
    padding-right:$base-spacing-unit;
    padding-left:$base-spacing-unit;
    
    @include media-query(portable){
        padding-right:$half-spacing-unit;
        padding-left: $half-spacing-unit;
        max-width:640px;
    }
}

/**
 * Colored strip along the top/side of the page. This code does look to be
 * undoing itself a lot, but that’s RWD for you...
 */
body:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:10px;
    background-image:url(/img/css/sprites/main.svg);
    background-position:-100% 0;
    @include vendor(background-size, 500px 500px);
    border:0 solid #fff;
    border-bottom-width:1px;
    @include media-query(desk){
        position:fixed;
        right:auto;
        bottom:0;
        width:10px;
        height:auto;
        background-position:left top;
        background-position:0 -100%;
        border-bottom-width:0;
    }
}

/**
 * Preloader element so we can fetch our images before CSS requests them.
 */
.ಠ_ಠ{
    display:none!important;
}

/**
 * Page lead/intro block.
 *
 * 1. Exact distance between the content and the edge of the viewport.
 * 2. Safe maximum distance between the content and the edge of the viewport.
 * 3. Ensure the block sits under the page’s left border.
 */
.page-lead {
    position: relative;
    background-color: #f43059;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    padding-left: 12px; /* [1] */
    margin-left: -12px; /* [1] */

    @media screen and (min-width: 640px) {
        padding-left: 165px; /* [2] */
        margin-left: -165px; /* [2] */
    }

    @media screen and (min-width: 940px) {
        z-index: -1; /* [3] */
        padding-left: 24px; /* [1] */
        margin-left: -24px; /* [1] */
    }

    @media screen and (min-width: 1100px) {
        padding-left: 700px; /* [2] */
        margin-left: -700px; /* [2] */

        /**
         * We don’t want to be painting a 9999px box off the viewport, so let’s
         * just display a message at a sensible cutoff point.
         */
        &:after {
            content: "That’s a bit far!";
            position: absolute;
            top: 0;
            left: 0;
        }

    }

}

.page-lead,
    .page-lead__text {
        color: #f9f9f9;
    }

    .page-lead__text {

        @media screen and (max-width: 640px) {
            @include font-size(16px);
            font-weight: 500;
        }

    }
