/*------------------------------------*\
    $PAGE-HEAD
\*------------------------------------*/
.page-head{
    @extend .cf;
    @extend %sass-margin-bottom;
}


/**
 *
 * Logo link back to the home page.
 * 1. Remove the effects of nudging used on ‘normal’ sprites.
 * 2. Make it look unclickable if you are currently on the home page.
 */
/*a*/.site-logo{
    float:left;
    
    > img{
        @extend .logo;
        border-radius:$brand-round;
        top:0; /* [1] */
    }
    
    .page--home &{
        cursor:default; /* [2] */
    }
}
