/*------------------------------------*\
    $SITE-NAV
\*------------------------------------*/
/**
 * Extends `.nav`.
 * 1. Make the nav’s text line up with the middle of the logo.
 */
.site-nav{
    margin-bottom:0;
    line-height:64px; /* [1] */
    @include media-query(desk){
        line-height:128px; /* [1] */
    }
    > li{
        margin-left:$half-spacing-unit;
        @include media-query(desk){
            margin-left:$base-spacing-unit;
        }
    }

    a{
        color:#555;

        &:hover{
            color:$brand-color;
            text-decoration:none;
        }
    }
}

/**
 * This doesn’t compile to the DRYest CSS ever, but it allows us to loop through
 * our pages for ‘current’ nav styling really easily.
 * 1. Make link look unclickable if you are currently on that page.
 */
@each $page in home, about, speaking{
    .page--#{$page} .site-nav__#{$page} a{
        cursor:text; /* [1] */
        color:$brand-color;
    }
}
