/*------------------------------------*\
    $SPEAKING
\*------------------------------------*/
.speaking-list {
}

    .speaking-list__title {
        @include font-size(12px);
        font-weight: bold;
        font-family: sans-serif;
        color: #999;
        margin-bottom: 0;
    }
