/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/**
 * Headings
 */
h1,h2,h3,h4,h5,h6{
    font-weight:300;
    color:$brand-color;
}
dt{
    font-weight:500;
}


/**
 * Figures
 */
figcaption{
    @include font-size(12px);
}


/**
 * Inline elements
 */
b,strong,a{
    font-weight:500;
}
mark{
    background-color:#ff8;
    color:inherit;
}
q{
    font-style:italic;
}


/**
 * Links
 */
a{
    color:$brand-color;
}


/**
 * Quote
 */
blockquote{
    padding-left:$half-spacing-unit;
    border-left:8px solid rgba(0, 0, 0, 0.1);
}


/**
 * Code
 * 1. Color taken from Solarized: ethanschoonover.com/solarized
 */
pre{
    white-space:pre;
    word-wrap:normal;
    background-color:#333;
    overflow:auto;
    color:#fff;
    padding:$half-spacing-unit;
    border-radius:$brand-round;
    @include vendor(box-shadow, 0 0 15px rgba(0, 0, 0, 0.25) inset);
}

pre,code,kbd,samp{
    font-family:Inconsolata, Monaco, Consolas, "Andale Mono",
                "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

code,kbd,samp{
    color:#859900; /* [1] */

    pre &{
        color:#fff;
    }
}

.code-comment{
    opacity:0.5;
}


/**
 * Rules
 */
hr{
    border-style:solid;
    border-width:1px 0;
    border-top-color:rgba(0, 0, 0, 0.075);
    border-bottom-color:rgba(255, 255, 255, 0.75);
}
