<script type=speculationrules>

  {
    "prerender": [
      {
        "urls": [
          {% if page.next.url %}
            "{{ page.next.url }}",
          {% endif %}
          {% if page.previous.url %}
            "{{ page.previous.url }}"
          {% endif %}
        ]
      }
    ]
  }

</script>

<style>
  {% include css/components.pagination.css %}
</style>

<nav class=c-pagination>
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="c-pagination__item c-pagination__prev" style="view-transition-name: x-{{ page.previous.date | date: '%Y-%m-%d' }}" id=articleOlder>{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url }}" class="c-pagination__item c-pagination__next" style="view-transition-name: x-{{ page.next.date | date: '%Y-%m-%d' }}" id=articleNewer>{{page.next.title}}</a>
  {% endif %}
</nav>

<script>
  (() => {

    const articleOlder = document.getElementById('articleOlder');
    const articleNewer = document.getElementById('articleNewer');

    articleOlder.addEventListener('click', (event) => {

      setTimeout(() => {
        LUX.addData('articlePaginationUsed', true)
        LUX.addData('articleOlderUsed', true)
      });

    });

    articleNewer.addEventListener('click', (event) => {

      setTimeout(() => {
        LUX.addData('articlePaginationUsed', true)
        LUX.addData('articleNewerUsed', true)
      });

    });

  })();
</script>

