<section class="[ band  band--large  band--tint ]  mb" data-ui-component="Quotes carousel">

<div class="carousel">

  <ul class="carousel__panes">

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Harry helped our team level up their scalable CSS architecture skills, and to say that he had a large impact on our work is an understatement. We can’t recommend him enough.</p>
        <b class="pull-quote__source"><a href="https://twitter.com/addyosmani">Addy Osmani</a>, Google</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>The CSS architecture I learned from Harry on <a href="/case-studies/nhs-nhsx-elearning-platform/" class="carousel__link">the NHS project</a> has changed the way I work. Bravo!</p>
        <b class="pull-quote__source"><a href="https://twitter.com/joshnesbitt">Josh Nesbitt</a></b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>I learned more about CSS architecture in my three-day workshop with Harry than I did in the 10 years before.</p>
        <b class="pull-quote__source"><a href="https://twitter.com/opus131">Markus Klug</a></b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>We had a very tight deadline, and with Harry’s direction development
        has gone significantly more smoothly than it would have.</p>
        <b class="pull-quote__source"><a href="https://twitter.com/matt5409">Matt Saunders</a></b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Harry provided lots of <a href="/case-studies/madgex-consultancy-workshop/" class="carousel__link">valuable insights</a>, suggestions, and support, all tailored specifically to our products.</p>
        <b class="pull-quote__source"><a href="http://www.madgex.com/">Nik White</a></b>
      </blockquote>
    </li>

  </ul>

</div>

</section>
