<style>
  {% include css/components.carousel.css %}
</style>

<section class="[ band  band--large  band--tint ]  mb" id="section:carousel" data-ui-component="Quotes carousel">

<div class="carousel">

  <ul class="carousel__panes">

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Harry gave the team a strong footing for identifying performance issues on iPlayer. With his knowledge, we were able to roll out quick fixes to our audiences without the need for big rewrites, all within just two days.</p>
        <b class="pull-quote__source"><a href="https://twitter.com/mattjburrows">Matthew Burrows</a>, BBC iPlayer</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Harry helped our team level up their scalable CSS architecture skills, and to say that he had a large impact on our work is an understatement. We can’t recommend him enough.</p>
        <b class="pull-quote__source"><a href="https://twitter.com/addyosmani">Addy Osmani</a>, Google</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>Harry’s workshop was excellent; we left with tons of new ideas and techniques to improve both the CSS architecture and overall performance of <a href="http://behance.com/" class="carousel__link">Behance</a> and <a href="http://myportfolio.com/" class="carousel__link">Adobe Portfolio</a>.</p>
        <b class="pull-quote__source"><a href="http://jackiebalzer.com/">Jackie Balzer</a>, Adobe</b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>There’s a short list of people I whole-heartedly recommend for detailed performance work; Harry is right up there at the top.</p>
        <b class="pull-quote__source"><a href="https://timkadlec.com/">Tim Kadlec</a></b>
      </blockquote>
    </li>

    <li class="carousel__pane">
      <blockquote class="pull-quote  pull-quote--banner">
        <p>The CSS architecture I learned from Harry on <a href="/case-studies/nhs-nhsx-elearning-platform/" class="carousel__link">the NHS project</a> has changed the way I work. Bravo!</p>
        <b class="pull-quote__source"><a href="https://twitter.com/joshnesbitt">Josh Nesbitt</a></b>
      </blockquote>
    </li>

  </ul>

</div>

</section>
