<style>
  {% include css/components.client-list.css %}
</style>

<section class="band  band--attention" id="section:clients" data-ui-component="Clients">

<div class="wrapper  wrapper--wide">

  <h3 class="client-list-title">Trusted by:</h3>

  <ul class="client-list">

    <li class="client-list__item">
      <a href="http://www.un.org/"><img data-src="/img/content/clients/un.png" class="client-list__logo" alt="United Nations" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ge.com/"><img data-src="/img/content/clients/ge.png" class="client-list__logo" alt="General Electric" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.adobe.com/"><img data-src="/img/content/clients/adobe.png" class="client-list__logo" alt="Adobe" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.codeclub.org.uk/"><img data-src="/img/content/clients/code-club.png" class="client-list__logo" alt="Code Club" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.unilever.com/"><img data-src="/img/content/clients/unilever.png" class="client-list__logo" alt="Unilever" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.raspberrypi.org/"><img data-src="/img/content/clients/raspberry-pi.png" class="client-list__logo" alt="Raspberry Pi" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.elsevier.com/"><img data-src="/img/content/clients/elsevier.png" class="client-list__logo" alt="Elsevier" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ft.com/"><img data-src="/img/content/clients/ft.png" class="client-list__logo" alt="Financial Times" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.ocado.com/"><img data-src="/img/content/clients/ocado.png" class="client-list__logo" alt="Ocado" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.uefa.com/"><img data-src="/img/content/clients/uefa.png" class="client-list__logo" alt="UEFA" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.roche.com/"><img data-src="/img/content/clients/roche.png" class="client-list__logo" alt="Roche" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.sky.com/"><img data-src="/img/content/clients/sky.png" class="client-list__logo" alt="BSkyB" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.nhs.uk/"><img data-src="/img/content/clients/nhs.png" class="client-list__logo" alt="NHS" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.google.com/"><img data-src="/img/content/clients/google.png" class="client-list__logo" alt="Google" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.etsy.com/"><img data-src="/img/content/clients/etsy.png" class="client-list__logo" alt="Etsy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.shopify.com/"><img data-src="/img/content/clients/shopify.png" class="client-list__logo" alt="Shopify" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.bbc.co.uk/"><img data-src="/img/content/clients/bbc.png" class="client-list__logo" alt="BBC" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www2.mmu.ac.uk/"><img data-src="/img/content/clients/mmu.png" class="client-list__logo" alt="Manchester Metropolitan University" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.york.ac.uk/"><img data-src="/img/content/clients/uni-of-york.png" class="client-list__logo" alt="University of York" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ed.ac.uk/"><img data-src="/img/content/clients/uni-of-edinburgh.png" class="client-list__logo" alt="University of Edinburgh" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.williamhill.com"><img data-src="/img/content/clients/william-hill.png" class="client-list__logo" alt="William Hill" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ing.com/"><img data-src="/img/content/clients/ing.png" class="client-list__logo" alt="ING" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.typeform.com/"><img data-src="/img/content/clients/typeform.png" class="client-list__logo" alt="Typeform" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.hayu.com/"><img data-src="/img/content/clients/hayu.png" class="client-list__logo" alt="Hayu" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.bbc.co.uk/iplayer/"><img data-src="/img/content/clients/iplayer.png" class="client-list__logo" alt="BBC iPlayer" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.booking.com/"><img data-src="/img/content/clients/booking.com.png" class="client-list__logo" alt="Booking.com" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.squarespace.com/"><img data-src="/img/content/clients/squarespace.png" class="client-list__logo" alt="Squarespace" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.thetrainline.com/"><img data-src="/img/content/clients/trainline.png" class="client-list__logo" alt="Trainline" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www2.deloitte.com/"><img data-src="/img/content/clients/deloitte.png" class="client-list__logo" alt="Deloitte" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.welt.de/"><img data-src="/img/content/clients/die-welt.png" class="client-list__logo" alt="Die Welt" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.justgiving.com/"><img data-src="/img/content/clients/justgiving.png" class="client-list__logo" alt="JustGiving" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.hired.com/"><img data-src="/img/content/clients/hired.png" class="client-list__logo" alt="Hired" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://direct.matalan.co.uk/"><img data-src="/img/content/clients/matalan.png" class="client-list__logo" alt="Matalan" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.kickstarter.com/"><img data-src="/img/content/clients/kickstarter.png" class="client-list__logo" alt="Kickstarter" /></a>
    </li>

  </ul>

</div>

</section>

