<style>
  {% include css/components.client-list.css %}
</style>

<section class="band  band--attention" id="section:clients" data-ui-component="Clients">

<div class="wrapper  wrapper--wide">

  <h3 class="client-list-title">Trusted by:</h3>

  <ul class="client-list">

    <li class="client-list__item">
      <a href="http://www.un.org/"><img src="/img/content/clients/un.png" class="client-list__logo" alt="United Nations" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ge.com/"><img src="/img/content/clients/ge.png" class="client-list__logo" alt="General Electric" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.adobe.com/"><img src="/img/content/clients/adobe.png" class="client-list__logo" alt="Adobe" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.codeclub.org.uk/"><img src="/img/content/clients/code-club.png" class="client-list__logo" alt="Code Club" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.unilever.com/"><img src="/img/content/clients/unilever.png" class="client-list__logo" alt="Unilever" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.raspberrypi.org/"><img src="/img/content/clients/raspberry-pi.png" class="client-list__logo" alt="Raspberry Pi" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.icaew.com/"><img src="/img/content/clients/icaew.png" class="client-list__logo" alt="ICAEW" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.elsevier.com/"><img src="/img/content/clients/elsevier.png" class="client-list__logo" alt="Elsevier" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ft.com/"><img src="/img/content/clients/ft.png" class="client-list__logo" alt="Financial Times" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.ocado.com/"><img src="/img/content/clients/ocado.png" class="client-list__logo" alt="Ocado" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.uefa.com/"><img src="/img/content/clients/uefa.png" class="client-list__logo" alt="UEFA" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.roche.com/"><img src="/img/content/clients/roche.png" class="client-list__logo" alt="Roche" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://ring.com/"><img src="/img/content/clients/ring.png" class="client-list__logo" alt="Ring" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.sky.com/"><img src="/img/content/clients/sky.png" class="client-list__logo" alt="BSkyB" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.nhs.uk/"><img src="/img/content/clients/nhs.png" class="client-list__logo" alt="NHS" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.google.com/"><img src="/img/content/clients/google.png" class="client-list__logo" alt="Google" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.etsy.com/"><img src="/img/content/clients/etsy.png" class="client-list__logo" alt="Etsy" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.shopify.com/"><img src="/img/content/clients/shopify.png" class="client-list__logo" alt="Shopify" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.bbc.co.uk/"><img src="/img/content/clients/bbc.png" class="client-list__logo" alt="BBC" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www2.mmu.ac.uk/"><img src="/img/content/clients/mmu.png" class="client-list__logo" alt="Manchester Metropolitan University" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.york.ac.uk/"><img src="/img/content/clients/uni-of-york.png" class="client-list__logo" alt="University of York" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.ed.ac.uk/"><img src="/img/content/clients/uni-of-edinburgh.png" class="client-list__logo" alt="University of Edinburgh" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.williamhill.com"><img src="/img/content/clients/william-hill.png" class="client-list__logo" alt="William Hill" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.typeform.com/"><img src="/img/content/clients/typeform.png" class="client-list__logo" alt="Typeform" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.hayu.com/"><img src="/img/content/clients/hayu.png" class="client-list__logo" alt="Hayu" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.bbc.co.uk/iplayer/"><img src="/img/content/clients/iplayer.png" class="client-list__logo" alt="BBC iPlayer" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.booking.com/"><img src="/img/content/clients/booking.com.png" class="client-list__logo" alt="Booking.com" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.squarespace.com/"><img src="/img/content/clients/squarespace.png" class="client-list__logo" alt="Squarespace" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.thetrainline.com/"><img src="/img/content/clients/trainline.png" class="client-list__logo" alt="Trainline" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www2.deloitte.com/"><img src="/img/content/clients/deloitte.png" class="client-list__logo" alt="Deloitte" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.welt.de/"><img src="/img/content/clients/die-welt.png" class="client-list__logo" alt="Die Welt" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.justgiving.com/"><img src="/img/content/clients/justgiving.png" class="client-list__logo" alt="JustGiving" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://www.hired.com/"><img src="/img/content/clients/hired.png" class="client-list__logo" alt="Hired" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="http://direct.matalan.co.uk/"><img src="/img/content/clients/matalan.png" class="client-list__logo" alt="Matalan" loading="lazy" /></a>
    </li>

    <li class="client-list__item">
      <a href="https://www.kickstarter.com/"><img src="/img/content/clients/kickstarter.png" class="client-list__logo" alt="Kickstarter" loading="lazy" /></a>
    </li>

  </ul>

</div>

</section>

