<section class="band  band--dark" id="section:learn">

  <div class=wrapper>

    <h4 class=band__title>Learn:</h4>

    <ul class="o-list-inline  o-list-inline--spaced  text-banner  mb0">
      <li><a href="/2019/03/cache-control-for-civilians/">Understand <code>Cache-Control</code></a>
      <li><a href="/2023/07/core-web-vitals-for-search-engine-optimisation/">Core Web Vitals and SEO</a>
      <li><a href="/2018/11/css-and-network-performance/">CSS Performance</a>
      <li><a href="/2023/07/in-defence-of-domcontentloaded/">Does <code>DOMContentLoaded</code> Still Matter?</a>
      <li><a href="/2021/02/measuring-network-performance-in-mobile-safari/">Improve Web Performance on iOS</a>
      <li><a href="/max-age/"><code>max-age</code> calculator</a>
      <li><a href="/2024/09/optimising-for-high-latency-environments/">Optimise for High Latency</a>
      <li><a href="/2022/03/optimising-largest-contentful-paint/">Optimise Largest Contentful Paint</a>
      <li><a href="/2020/05/the-fastest-google-fonts/">Speed Up Google Fonts</a>
      <li><a href="/2023/10/the-three-c-concatenate-compress-cache/">Can We Drop Our Build Tools Yet?</a>
      <li><a href="/2023/09/the-ultimate-lqip-lcp-technique/">Get the Fastest Possible LCP</a>
      <li><a href="/2019/08/time-to-first-byte-what-it-is-and-why-it-matters/">Diagnose Time to First Byte</a>
      <li><a href="/2023/10/what-is-the-maximum-max-age/">What Is the Maximum <code>max-age</code> Value?</a>
    </ul>

  </div>

</section>

<section class="band  band--highlight">

  <div class=wrapper>

    {% include newsletter.html %}

  </div>

</section>

<style>
{% include css/components.page-foot.css %}
</style>

<section class="[ band  band--tint ]  page-foot">

    <div class=wrapper>

        <div class="layout  layout--middle">
            <div class="layout__item  lap-and-up-one-quarter">
              <p>I help teams achieve <b>class-leading web performance</b>, providing consultancy, guidance, and hands-on expertise.</p>
            </div
           ><div class="layout__item  lap-and-up-one-quarter">
              <p>I specialise in tackling complex, large-scale projects where speed, scalability, and reliability are <b>critical to success</b>.</p>
            </div
           ><div class="layout__item  lap-and-up-one-half">
              <p><a href=/contact/ class="btn  btn--secondary btn--full" data-sctrack=cta-footer>Start a Conversation</a></p>
            </div>
        </div>

    </div>

</section>

<style>
{% include css/components.page-micro.css %}
</style>

<footer class=page-micro>

  <p class=wrapper>
    <small class=page-micro__copy><b>CSS Wizardry Ltd</b> is a company registered in England and Wales. <b>Company No.</b> 08698093, <b>VAT No.</b> 170659396. <a href="/license/">License Information</a>.</small>
  </p>

</footer>
