<section class="[ band  band--tint ]  page-foot">

    <div class="wrapper">

        <div class="layout">
            <div class="layout__item  one-quarter">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit.</p>
            </div
           ><div class="layout__item  one-quarter">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit.</p>
            </div
           ><div class="layout__item  one-quarter">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit.</p>
            </div
           ><div class="layout__item  one-quarter">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit.</p>
            </div>
        </div>

    </div>

</section>

<footer class="page-micro">

    <p class="wrapper">
        <small class="page-micro__copy"><b>CSS Wizardry Ltd</b> is a company registered in England and Wales. <b>Company No.</b> 08698093, <b>VAT No.</b> 170659396</small>
    </p>

</footer>
