<section class="[ band  band--tint ]  page-foot">

    <div class="wrapper">

        <div class="layout  layout--middle">
            <div class="layout__item  lap-and-up-one-quarter">
                <p>I am available for hire to consult, advise, and develop with passionate product teams across the globe.</p>
            </div
           ><div class="layout__item  lap-and-up-one-quarter">
                <p>I specialise in large, product-based projects where performance and CSS scalability and maintainability are paramount.</p>
            </div
           ><div class="layout__item  lap-and-up-one-half">
               <p><a href="http://csswizardry.com/work/" class="btn  btn--secondary  btn--full">I am currently <strong>considering new projects</strong> for Q3–4, 2015.</a></p>
            </div>
        </div>

    </div>

</section>

<footer class="page-micro">

    <p class="wrapper">
        <small class="page-micro__copy"><b>CSS Wizardry Ltd</b> is a company registered in England and Wales. <b>Company No.</b> 08698093, <b>VAT No.</b> 170659396</small>
    </p>

</footer>
