<style>
  {% include css/components.page-head--masthead.css %}
</style>

{% comment %}
<!--
  - Fire off masthead download nice and early.
  - Only needed on homepage.
  -->
{% endcomment %}

{% include ribbon.html %}

<header class="page-head  page-head--masthead" elementtiming=masthead>

    <div class=wrapper>

        {% include nav.html %}

        <h1 class=page-head__text elementtiming=mastheadTitle>{{ page.masthead-title }}</h1>

        <h2 class=hide>Proven results improving Core Web Vitals for world-leading organisations.</h2>

    </div>

</header>
