<style>
  {% include css/components.page-head--masthead.css %}
</style>

{% comment %}
<!--
  - Fire off masthead download nice and early.
  - Only needed on homepage.
  -->
{% endcomment %}
<link rel=preload href=/img/css/masthead.4c100a13.jpg as=image media="(max-width: 44.9375em)" fetchpriority=high>
<link rel=preload href=/img/css/masthead-medium.e55920c9.jpg as=image media="(min-width: 45em) and (max-width: 63.9375em)" fetchpriority=high>
<link rel=preload href=/img/css/masthead-large.3cbc4956.jpg as=image media="(min-width: 64em)" fetchpriority=high>

{% include ribbon.html %}

<header class="page-head  page-head--masthead">

    <div class=wrapper>

        {% include nav.html %}

        <h1 class=page-head__text elementtiming=masthead-title>{{ page.masthead-title }}</h1>

    </div>

</header>
