<head>
<script>performance.mark('HEAD Start');</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0">

<title>{{ page.title }} &ndash; CSS Wizardry &ndash; Web Performance Optimisation</title>

{% if page.page-class == "page--home" %}
{% comment %}
<!--
  - Fire off masthead download nice and early.
  - Only needed on homepage.
  -->
{% endcomment %}
<link rel="preload" href="/img/css/masthead.6ddf08d9.jpg" as="image" media="(max-width: 44.9375em)">
<link rel="preload" href="/img/css/masthead-medium.12fb835e.jpg" as="image" media="(min-width: 45em) and (max-width: 63.9375em)">
<link rel="preload" href="/img/css/masthead-large.0510e3a2.jpg" as="image" media="(min-width: 64em)">
{% endif %}

{% comment %}
<!--
  - Preemptively open up connections for external assets (Twitter widgets etc).
  - Only needed on pages with sidebars (i.e. non-feature pages).
  -->
{% endcomment %}
{% if page.layout != "feature" %}
<link rel="preconnect" href="https://cdn.carbonads.com">
<link rel="preconnect" href="https://srv.carbonads.net">
<link rel="preconnect" href="https://cdn.syndication.twimg.com">
<link rel="preconnect" href="https://platform.twitter.com">
<link rel="preconnect" href="https://syndication.twitter.com">
{% endif %}

{% if page.page-class == "page--services  page--workshops" or page.page-class == "page--services  page--downloads" %}
<link rel="preconnect" href="https://gumroad.com">
{% endif %}

{% if page.page-class == "page--services  page--speaking" %}
<link rel="preconnect" href="https://www.youtube.com">
<link rel="prerender" href="https://www.youtube.com/embed/cXLOIIJ1UaE">
{% endif %}

<link rel="preconnect" href="https://csswizardry.com" crossorigin>
<link rel="preconnect" href="https://cdn.speedcurve.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://instant.page">

<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-1856861-4', {'siteSpeedSampleRate': 100});
ga('send', 'pageview');
</script>

<script>
  LUX = window.LUX || {};
  LUX.samplerate = 100;
  {% if page.lux %}
  LUX.label = '{{ page.lux }}';
  {% endif %}
</script>

<script>performance.mark('CSS Start');</script>
<style>

  {% include css/csswizardry.min.css %}

</style>
<script>performance.mark('CSS End');</script>

<script src="https://www.google-analytics.com/analytics.js" async></script>

<script src="https://cdn.speedcurve.com/js/lux.js?id=47684395" defer></script>

{% if page.layout != "feature" %}
<script src="https://platform.twitter.com/widgets.js" defer></script>
{% endif %}
{% if page.page-class == "page--services  page--workshops" %}
<script src="https://gumroad.com/js/gumroad.js" defer></script>
{% endif %}
{% if page.page-class == "page--services  page--downloads" %}
<script src="https://gumroad.com/js/gumroad-embed.js" defer></script>
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@csswizardry">
<meta name="twitter:domain" content="csswizardry.com">
<meta name="twitter:creator" content="@csswizardry">
<meta name="twitter:title" content="{{ page.title }} – CSS Wizardry">
<meta name="twitter:image" content="https://csswizardry.com/logo.png">
{% if page.meta %}
    <meta name="twitter:description" content="{{ page.meta }}">
{% endif %}

<link rel="alternate" type="application/atom+xml" href="https://feeds.feedburner.com/csswizardry">

<link rel="shortcut icon" href="/icon.png">
<link rel="apple-touch-icon" href="/icon.png">
<meta name="apple-mobile-web-app-title" content="csswizardry">
{% if page.meta %}
  <meta name="description" content="{{ page.meta }}">
{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="theme-color" content="#f43059">
<link rel="manifest" href="/manifest.json">

<script>
  performance.mark('HEAD End');
</script>

</head>
