<style>

  .c-mini-profile {
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    content-visibility: auto;
    contain-intrinsic-size: 1px 120px;
  }

    .c-mini-profile__avatar {
      border-radius: 100%;
    }

    .c-mini-profile a {
      color: inherit;
      font: inherit;
    }

</style>

<article class=c-mini-profile>
  <img src=/img/content/avatar.jpg alt width=72 height=72 loading=lazy class=c-mini-profile__avatar>
  <div class=c-mini-profile__content>
    <h5 class=mb0 style="font-weight: bold;">By <a href="/about/">Harry Roberts</a></h5>
    <p class=mb0>Harry Roberts is an <a href="/consultancy/">independent
       consultant</a> web performance engineer. He <a href="/services/">helps
       companies</a> of all shapes and sizes find and fix site speed issues.</p>
  </div>
</article>

