<ol class=layout data-ui-component=Pagination>

  <li class="layout__item  lap-and-up-one-half  mb">
    {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}/#section:articles" class="btn btn--full  btn--secondary" id=archiveOlder>Older articles</a>
    {% endif %}

    {% if paginator.previous_page %}
      <li class="layout__item  lap-and-up-one-half  mb">
        {% if paginator.previous_page == 1 %}
          <a href="/#section:articles" class="btn  btn--full" id=archiveNewer>Newer articles</a>
        {% else %}
          <a href="/page{{paginator.previous_page}}/#section:articles" class="btn  btn--full" id=archiveNewer>Newer articles</a>
        {% endif %}
    {% endif %}

</ol>

<script>
  (() => {

    const archiveOlder = document.getElementById('archiveOlder');
    const archiveNewer = document.getElementById('archiveNewer');

    archiveOlder.addEventListener('click', (event) => {

      setTimeout(() => {
        LUX.addData('archivePaginationUsed', true)
        LUX.addData('archiveOlderUsed', true)
      });

    });

    archiveNewer.addEventListener('click', (event) => {

      setTimeout(() => {
        LUX.addData('archivePaginationUsed', true)
        LUX.addData('archiveNewerUsed', true)
      });

    });

  })();
</script>
