<section class="[ band  band--highlight ]  promo">

  <div class="wrapper  wrapper--wide">

    <ul class="layout  layout--large">

      <li class="layout__item  desk-one-third">
        <a href="/performance-audits/" class="promo__link" data-promo-track="audits">

          <h2 class=heading>Audits</h2>
          <p><strong style="display: block;">Your website is slow. I can tell
            you why.</strong> Web performance affects every business: lost
          sales, conversions, running costs, user retention, SEO, and
          environmental impact. I’ll find your blind spots, explain what
          matters, and help you fix them.</p>
        </a>

      <li class="layout__item  lap-and-up-one-half  desk-one-third">
        <a href="/consultancy/" class="promo__link" data-promo-track="consultancy">

          <h2 class=heading>Consultancy</h2>
          <p><strong style="display: block;">Turn site-speed into a clear
            strategy.</strong> Learn what a one-second slowdown costs,
          how to measure its impact, whether your monitoring works, and what
          speed is worth to your bottom line. We’ll answer them and set
          priorities.</p>
        </a>

      <li class="layout__item  lap-and-up-one-half  desk-one-third">
        <a href="/workshops/" class="promo__link" data-promo-track="training">

          <h2 class=heading>Training</h2>
          <p><strong style="display: block;">What’s better than one of me?
            A team of me.</strong> I’ll show your engineers how to find and
          fix the problems I can. They’ll learn the tools and methods, become
          self-sufficient, and keep your website fast for good. Never run slow
          again.</p>
        </a>

      <li class=layout__item>
        <p class=promo__links>
          <a href=/services/ class="btn btn--secondary">Learn More<span class=hide> about my web performance services</span></a>
          <span class=promo__links-spacer>or</span>
          <a href=/contact/ class="btn  btn--positive">Contact Me<span class=hide> about a web performance project</span></a>
        </p>

    </ul>

  </div>

</section>

