<article class="[ box  box--highlight ]  mb" data-ui-component="Cross-sell promo">

    <p><strong>Next:</strong> {{ page.next-case-study-title }}</p>

    <p><a href="{{ page.next-case-study-url }}" class="btn  btn--full">Read next case study</a></p>

    <p style="text-align: center;"><small><a href="/case-studies/">View all case studies…</a></small></p>

</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",

  "@id": "{{ site.url }}{{ page.url }}#caseStudy",
  "@type": "CaseStudy",

  "name": "{{ page.title }}",
  "headline": "{{ page.title }}",
  "url": "{{ site.url }}{{ page.url }}",

  "author":    { "@id": "{{ site.url }}#person" },
  "publisher": { "@id": "{{ site.url }}#org" },

  "about": "{{ page.meta | default: page.excerpt | strip_html | truncate: 160 }}",

  "inLanguage": "en-GB"
}
</script>
