<article class="[ box  box--highlight ]  [ flag  flag--responsive ]  mb" data-ui-component="Cross-sell promo">
    <div class="flag__img"><a href="mailto:harry@csswizardry.com?subject=Let%E2%80%99s%20work%20together" class="btn  btn--full">Let’s talk</a></div>
    <div class="flag__body">
        <h1 class="heading  mb0">Need some of the same?</h1>
        <p>I’m available for hire to help you out with <b>workshops</b>, <b>consultancy</b>, <b>advice</b>, and <b>development</b>.</p>
    </div>
</article>
