<section class="[ band  band--highlight ]  promo">

  <div class="wrapper  wrapper--wide">

    <ul class="layout  layout--large">

      <li class="layout__item  desk-one-third">

        <h2 class="heading">Consultancy</h2>
        <p>I provide CSS and performance consultancy to companies of all
        sizes across the globe. From advice on how to work better as a
        team, to how to scale a large codebase; how to rationalise the
        design process, to how to write better quality responsive User
        Interfaces.</p>

      <li class="layout__item  lap-and-up-one-half  desk-one-third">

        <h2 class="heading">Development</h2>
        <p>I work on products and long-running projects, focusing on
        scalability, maintainability, performance, and more. I usually
        join product teams for short, initial kick-off sprints in order
        to set up architectures and workflows, and to leave teams self
        sufficient after I’ve left.</p>

      <li class="layout__item  lap-and-up-one-half  desk-one-third">

        <h2 class="heading">Workshops</h2> <p>I run workshops and
        training sessions for existing teams, getting them up to scratch
        and prepared for writing and managing front-ends that they
        expect to grow. Performance concerns, workflows, design process,
        and more, tailored to your company, products, and team.</p>

      <li class="layout__item">
        <p class="promo__links">
          <a href="/services/" class="btn  btn--secondary">Learn more <span class="hide">about my services</span></a> <span class="promo__links-spacer">or</span> <a href="/contact/" class="btn">Hire me</a>
        </p>

    </ul>

  </div>

</section>

