<article class="[ box  box--highlight ]  mb" data-ui-component="Cross-sell promo">

    <p><strong>Next up:</strong></p>

    <p><a href="{{ page.next-case-study-url }}" class="btn  btn--full">{{ page.next-case-study-title }}</a></p>

    <p style="text-align: center;"><small><a href="/case-studies/">View all case studies…</a></small></p>

</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://csswizardry.com{{ page.permalink }}"
  },
  "headline": "{{ page.title }}",
  "description": "{{ page.meta  }}",
  "author": {
    "@type": "Person",
    "name": "Harry Roberts",
    "url": "https://csswizardry.com/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "CSS Wizardry Ltd",
    "logo": {
      "@type": "ImageObject",
      "url": "https://csswizardry.com/img/csswizardry-logo.png"
    }
  },
  "articleSection": "Case Study"
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "https://csswizardry.com/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "Case Studies",
      "item": "https://csswizardry.com/case-studies/"
    },
    {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ page.title }}",
      "item": "https://csswizardry.com{{ page.permalink }}"
    }
  ]
}
</script>
