<p>Hi there, I’m Harry. I am an <a href="https://thenetawards.com/previous-winners/">award-winning</a> <b>Consultant Front-end Architect</b>, <b>designer</b>, <b>developer</b>, <b>writer</b> and <b>speaker</b> from the UK. I <a href="/archive/">write</a>, <a href="http://twitter.com/csswizardry">tweet</a>, <a href="/speaking/">speak</a> and <a href="http://github.com/csswizardry">share code</a> about authoring and scaling CSS for big websites. You can <a href="mailto:harry@csswizardry.com?subject=Let%E2%80%99s%20work%20together">hire me</a>.</p>

<p><a href="https://twitter.com/csswizardry" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @csswizardry</a></p>

<hr />

<p class="text-banner">
    <a href="/work/" class="btn  btn--full  btn--positive">I am currently <strong>accepting new projects</strong> for Q3–4, 2015</a>
    <small><a href="/2014/08/csswizardry-referral-scheme/" class="link-secret">Referral scheme</a></small>
</p>

<article class="[ box  box--highlight ]  mb" data-ui-component="ad">
    {% include adpacks.html %}
</article>

<h4>Projects</h4>

<ul class="[ list-ui  list-ui--small ]  mb">
    <li><a href="http://inuitcss.com/"><img src="/img/content/logo-inuitcss.png" alt="inuitcss" /></a></li>
    <li><a href="http://itcss.io/">ITCSS</a> – coming soon…</li>
    <li><a href="http://cssguidelin.es/"><img src="/img/content/logo-css-guidelines.png" alt="CSS Guidelines" /></a></li>
</ul>

<h4>Events</h4>

<ul class="list-ui  list-ui--small">

    <li>
        <h3 class="list-ui__title">Talk</h3>
        <a href="http://lanyrd.com/2015/smashingconf-freiburg/">SmashingConf</a>, Frieburg (Germany), September 2015
    </li>

</ul>
