<p>Hi there, I’m Harry. I am an <a href="https://thenetawards.com/previous-winners/">award-winning</a> <b>Consultant Front-end Architect</b>, <b>designer</b>, <b>developer</b>, <b>writer</b> and <b>speaker</b> from the UK. I <a href="/archive/">write</a>, <a href="https://twitter.com/csswizardry">tweet</a>, <a href="/speaking/">speak</a> and <a href="http://github.com/csswizardry">share code</a> about authoring and scaling CSS for big websites. You can <a href="/contact/">hire me</a>.</p>

<p><a href="https://twitter.com/csswizardry" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @csswizardry</a></p>

<hr />

<p class="text-banner">
  <a href="/services/" class="btn  btn--full  btn--positive">I am currently <strong>accepting new projects</strong> for Q1–2 2019</a>
</p>

<article class="[ box  box--highlight ]  mb" data-ui-component="ad">
  {% include adpacks.html %}
</article>

<h4>Projects</h4>

{% if page.page-class == "page--home" %}
  {% assign image-ext = "-home" %}
{% else %}
  {% assign image-ext = null %}
{% endif %}

<ul class="[ list-ui  list-ui--small ]  mb">
  <li><a href="https://github.com/inuitcss/inuitcss"><img data-src="/img/content/logo-inuitcss{{ image-ext }}.png" alt="inuitcss" importance="low" /></a></li>
  <li><a href="http://itcss.io/">ITCSS</a> – coming soon…</li>
  <li><a href="http://cssguidelin.es/"><img data-src="/img/content/logo-css-guidelines{{ image-ext }}.png" alt="CSS Guidelines" importance="low" /></a></li>
</ul>

<h4>Next Appearance</h4>

<ul class="list-ui  list-ui--small">

  {% include speaking.html %}

</ul>
