<p><button class="btn  btn--secondary btn--full" id=jsShareButton>Share this</button></p>

<script type=module>

  if (!navigator.share) {
    shareButton.style.display = 'none';
  } else {

    const shareButton = document.getElementById('jsShareButton');
    const shareData = {
      /**
       * This is very non-standard, but Bluesky’s Web Share is broken so I have
       * to bundle everything into `text`:
       *
       * https://github.com/bluesky-social/social-app/issues/5051
       */

      //title: "{{ page.title }}",
      //url: "https://csswizardry.com{{ page.url }}"
      text: 'I really enjoyed ‘{{ page.title }}’ by @csswizardry! https://csswizardry.com{{ page.url }} ',
    };

    shareButton.addEventListener('click', async () => {
      try {
        await navigator.share(shareData);
      } catch (err) { }
    });
  }

</script>

