/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */.c-card{background:white;padding:24px;border-top:6px solid #f43059;margin-bottom:24px}.c-card blockquote{margin-right:0;margin-left:0}.c-card>:last-child{margin-bottom:0}
