/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */summary{color:#f43059;font-weight:600;cursor:pointer;text-decoration:none}summary::-webkit-details-marker{display:none}summary:hover,summary:focus,[open] summary{text-decoration:underline;outline:none}
