/*------------------------------------*\
	RESET
\*------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{ 
	border:0;
}
address,caption,cite,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
ol,ul{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}





/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	font-size:100%;
	height:101%;
}
body{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#333;
	background:url(http://csswizardry.com/wp-content/themes/default/images/grid.gif) top center repeat-y #fff;
	background:#fff;
}
#wrapper{
	width:940px;
	padding:10px;
	margin:0 auto;
	overflow:hidden;
}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
h1,h2,h3,h4,h5,h6{
	font-family:Helvetica, Arial, Verdana, sans-serif;
	margin-bottom:20px;
}
h1{
	font-size:1.5em;
	font-weight:bold;
}
h2{
	font-size:1.25em;
	font-weight:bold;
}





/*------------------------------------*\
	LISTS
\*------------------------------------*/
ul{
	width:760px;
	margin-bottom:20px;
	overflow:hidden;
	border-top:1px solid #ccc;
}
li{
	line-height:1.5em;
	border-bottom:1px solid #ccc;
	float:left;
	display:inline;
}
#double li	{ width:50%;}
#triple li	{ width:33.333%; }
#quad li		{ width:25%; }
#six li		{ width:16.666%; }