/* ==========================================================================
   #PAGINATION
   ========================================================================== */

@import "../_settings.all.scss";
@import "../_tools.all.scss";

/**
 * Forward and backward navigation within articles.
 */

.c-pagination {
  display: flex;
  margin-bottom: $spacing-unit;
}

  .c-pagination__item {
    flex-grow: 1;
    flex-basis: 0;
    padding: 12px;
    border-radius: $base-round;
    border: 1px solid transparent;
    will-change: transform;
    transition: 0.3333s transform;

    &:hover {
      text-decoration: none;
      border-color: currentColor;
    }

    /**
     * Remove CSS Wizardry favicon from Pagination  Super aggressive specificity
     * override needed, unfortunately.
     */
    &#{&}#{&}::after {
      display: none;
    }

  }

    .c-pagination__item::before {
      display: block;
      @include font-size(12px);
      line-height: 1;
      text-transform: uppercase;
      font-weight: normal;
      color: $color-gray;
    }

    .c-pagination__prev {

      &:hover {
        transform: translateX(-$spacing-unit--small);
      }

      &::before {
        content: "Previously: "
      }

    }

  .c-pagination__next {
    text-align: right;

    &:hover {
      transform: translateX($spacing-unit--small);
    }

    &::before {
      content: "Up next: "
    }

  }
