/*------------------------------------*\
    #PAGE-MICRO
\*------------------------------------*/

@import "../settings.all";
@import "../tools.all";

.page-micro {
    background-color: $color-page-micro-background;
    padding: $spacing-unit--small;
    text-align: center;
    content-visibility: auto;
    contain-intrinsic-size: 1px 100px;

    &,
    a {
        color: $color-page-micro;
    }

}

    .page-micro__copy {
        @include font-size(12px);
        display: block;
    }
