/*------------------------------------*\
    #CLIENT-LIST
\*------------------------------------*/

@import "../settings.all";
@import "../tools.all";

.client-list-title {
  text-align: center;
  @include font-size(16px);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fcc1ce;
  -webkit-font-smoothing: auto;
}

.client-list {
    margin:  0;
    padding: 0;
    list-style: none;
    text-align: center;
}

    .client-list__item {
        display: inline-block;
        padding: $spacing-unit--small;

        @include media-query(lap-and-up) {
            padding: $spacing-unit;
        }

    }

        .client-list__logo {
            background-color: lighten($color-brand, 30%);
            height: $spacing-unit;
            transition: 0.2s;

            &:hover {
              background-color: #f9f9f9;
            }

            @include media-query(lap-and-up) {
                height: $spacing-unit--large;
            }

        }
