/*------------------------------------*\
    #CLIENT-LIST
\*------------------------------------*/

@import "../settings.all";
@import "../tools.all";

.client-list {
    margin:  0;
    padding: 0;
    list-style: none;
    text-align: center;
}

    .client-list__item {
        display: inline-block;
        padding: var(--spacing-unit--small);

        @include media-query(lap-and-up) {
            padding: var(--spacing-unit);
        }

        > a {
          display: block;
        }

    }

        .client-list__logo {
            background-color: hsl(from var(--color-brand) h s calc(l + 30));
            height: var(--spacing-unit);
            transition: 0.2s;

            &:hover {
              background-color: var(--color-bg);
            }

            @include media-query(lap-and-up) {
              height: var(--spacing-unit--large);
              width: auto;
            }

        }
