/*------------------------------------*\
  #DETAILS
\*------------------------------------*/

@import "../settings.all";
@import "../tools.all";

details {
}

summary {
  color: $color-brand;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;

  &::-webkit-details-marker {
    display: none;
  }

  &:hover,
  &:focus,
  [open] & {
    text-decoration: underline;
    outline: none;
  }

}
