<!DOCTYPE html>
<html lang="en-GB" class="page  {{ page.page-class }}  {{ layout.page-class }}">

  {% include head.html %}

<body>

  <nav class="hide">
    <a href="
             {% if page.page-class == 'page--home' %}
              #section:articles
             {% else %}
              #section:main
             {% endif %}
            ">Skip to main content</a>
  </nav>

  {{ content }}

<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        // Successfully registered the Service Worker
        //console.log('Service Worker registration successful with scope: ', registration.scope);
      }).catch(function(err) {
        // Failed to register the Service Worker
        //console.log('Service Worker registration failed: ', err);
      });
    });
  }
</script>

<script>

  performance.measure('Content Time', 'Content Start', 'Content End');

  window.addEventListener('load', function() {

    // Only progress if the browser supports User Timings
    if (window.performance) {

      // Store URL params for debugging later
      var params = (new URL(document.location)).searchParams;

      // Loop through all performance entries we’ve captured
      perfEntries = performance.getEntries();
      for (i = 0; i < perfEntries.length; i++) {

        // Only act on mark or measure timings
        if (perfEntries[i].entryType == 'mark' || perfEntries[i].entryType == 'measure') {

          // For marks we need the startTime; for measures we need the duration
          var timingType = perfEntries[i].entryType == 'mark' ? perfEntries[i].startTime : perfEntries[i].duration;

          // Send the data off to Google Analytics and store in our ‘Custom Timings’ category
          ga('send', 'timing', 'Custom Timings', perfEntries[i].name, timingType);

          // Log the marks and measures if we have ?debug=true on the URL
          if (params.get('debug')) {
            console.log(perfEntries[i].name + ': ' + timingType);
          }

        }

      }

    }

  }());

</script>

<script src="/js/instant.page.5.0.1.min.js" type="module"></script>

</body>
</html>
