<!DOCTYPE html>
<html lang=en-GB class="page  {{ page.page-class }}  {{ layout.page-class }}">

  {% include head.html %}

  <nav class=hide>
    <a href="
             {% if page.page-class == 'page--home' %}
              #section:articles
             {% else %}
              #section:main
             {% endif %}
            ">Skip to main content</a>
  </nav>

  {{ content }}

<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        // Successfully registered the Service Worker
        //console.log('Service Worker registration successful with scope: ', registration.scope);
      }).catch(function(err) {
        // Failed to register the Service Worker
        //console.log('Service Worker registration failed: ', err);
      });
    });
  }
</script>

<script>

  performance.measure('Content_Time', 'Content_Start', 'Content_End');

</script>

<script src=/js/instant.page.5.1.1.min.js type=module fetchpriority=low></script>
