<!DOCTYPE html>
<html lang="en-GB" class="page  {{page.page-class }}">

  {% include head.html %}

<body>

    {{ content }}

<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/sw.js').then(function(registration) {
        // Successfully registered the Service Worker
        //console.log('Service Worker registration successful with scope: ', registration.scope);
      }).catch(function(err) {
        // Failed to register the Service Worker
        //console.log('Service Worker registration failed: ', err);
      });
    });
  }
</script>

<script>

  performance.measure('Content Time', 'Content Start', 'Content End');

  (function() {

    perfEntries = performance.getEntries();
    for (i = 0; i < perfEntries.length; i++) {
      if (perfEntries[i].entryType == 'mark') {
        console.log(perfEntries[i].name + ": " + perfEntries[i].startTime);
        ga('send', 'timing', 'Custom Timings', perfEntries[i].name, perfEntries[i].startTime);
      } else if (perfEntries[i].entryType == 'measure') {
        console.log(perfEntries[i].name + ": " + perfEntries[i].duration);
        ga('send', 'timing', 'Custom Timings', perfEntries[i].name, perfEntries[i].duration);
      }
    }

  }());
</script>

<script src="/js/instant.page.5.0.1.min.js" type="module"></script>

</body>
</html>
