---
layout: default
---

{% include header.html %}

<div class=wrapper>

    <div class=layout>
        <section class="layout__item  desk-three-fifths" data-ui-component="Main content" id="section:main">
          <script>performance.mark('Content Start')</script>

            <h1 elementtiming="page-title">{{ page.title }}</h1>

            {{ content }}

          <script>performance.mark('Content End')</script>
        </section
       ><section class="layout__item  desk-three-tenths  desk-push-one-tenth" data-ui-component="Sub content">

            {% include sub-content.html %}

        </section>

    </div>

</div>

{% include footer.html %}
