---
layout: default
page-class: page--post
lux: Post
---

{% include header.html %}

<div class=wrapper>

    <div class=layout>
        <section class="layout__item  desk-three-fifths  s-post" data-ui-component="Main content" itemscope itemtype=http://schema.org/BlogPosting id=section:main>
          <script>performance.mark('Content Start')</script>

            <time class=post__date datetime={{ page.date | date: "%Y-%m-%d" }}  itemprop=datePublished>{{ page.date | date: "%-d %B, %Y" }}</time>

            <h1 itemprop="name  headline" elementtiming=page-title style="view-transition-name: x-{{ page.date | date: '%Y-%m-%d' }}">{{ page.title }}</h1>

            <p class=hide>Written by <b itemprop=author>Harry Roberts</b> on <b itemprop=publisher>CSS Wizardry</b>.</p>

            {% if page.toc != false %}
              <details class=c-toc>
                <summary>Table of Contents</summary>
                {% include toc.html html=content ordered=true %}
              </details>
            {% endif %}

            {{ content }}

            <script type="application/ld+json">
              {
                "@context": "https://schema.org",
                "@type": "BlogPosting",
                "url": "{{ site.url }}{{ page.url }}",
                "name": {{ page.title | jsonify }},
                "headline": {{ page.title | jsonify }},
                "keywords": {{ page.tags | join: ',' | jsonify }},
                "description": {{ page.meta | jsonify }},
                "articleBody": {{ page.content | strip_html | jsonify }},
                "datePublished": {{ page.date | jsonify }},
                "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
                "author": {
                  "@type": "Person",
                  "url": "{{ site.url }}",
                  "name": "Harry Roberts"
                },
                "publisher": {
                  "@type": "Organization",
                  "name": {{ site.title | jsonify }},
                  "url": "{{ site.url }}",
                  "logo": {
                    "@type": "ImageObject",
                    "width": 128,
                    "height": 128,
                    "url": "{{ site.url }}/icon.png"
                  }
                },
                "mainEntityOfPage": {
                  "@type": "WebPage",
                  "@id": "{{ site.url }}{{ page.url }}"
                {% if page.main %}
                },
                "image": {
                  "@type": "ImageObject",
                  "url": "{{ page.main }}"
                {% endif %}
                }
              }
            </script>

            <hr />

            <style>
              {% include css/components.pagination.css %}
            </style>

            <nav class=c-pagination>
              {% if page.previous.url %}
                <link rel=prerender href="{{page.previous.url}}" />
                <a href="{{page.previous.url}}?utm_source=pagination&utm_medium=internal" class="c-pagination__item c-pagination__prev" style="view-transition-name: x-{{ page.previous.date | date: '%Y-%m-%d' }}">{{page.previous.title}}</a>
              {% endif %}
              {% if page.next.url %}
                <link rel=prerender href="{{page.next.url}}" />
                <a href="{{page.next.url}}?utm_source=pagination&utm_medium=internal" class="c-pagination__item c-pagination__next" style="view-transition-name: x-{{ page.next.date | date: '%Y-%m-%d' }}">{{page.next.title}}</a>
              {% endif %}
            </nav>

            {% if page.hide-hire-me-link != true %}

                <hr />

                <p>
                    <a href=https://csswizardry.com/code-reviews/?ref=cta-sidebar#fix-it-fast class="btn btn--full">Did this help? <strong>We can do way more!</strong></a>
                </p>
            {% endif %}

          <script>performance.mark('Content End')</script>
        </section
       ><section class="layout__item  desk-three-tenths  desk-push-one-tenth" data-ui-component="Sub content">

            {% include sub-content.html %}

        </section>

    </div>

</div>

<script>
  ga('set', 'dimension1', 'Article');
</script>

{% include footer.html %}
