---
layout: default
page-class: "page--post  page--blog"
lux: Post
---

{% include header.html %}

<div class=wrapper>

  <div class=layout>

    <section class="layout__item  desk-three-fifths" data-ui-component="Main content" itemscope itemtype=http://schema.org/BlogPosting id=section:main>
      <div class="s-post">

        <script>performance.mark('contentStart')</script>

        <p class=post__date>
          <time datetime={{ page.date | date: "%Y-%m-%d" }}  itemprop=datePublished>{{ page.date | date: "%-d %B, %Y" }}</time>

          {% if page.last_modified_at %}
            <ins>(last updated on <time datetime={{ page.last_modified_at | date: "%Y-%m-%d" }} itemprop=dateModified>{{ page.last_modified_at | date: "%-d %B, %Y" }}</time>)</ins>
          {% endif %}

        </p>

          <h1 itemprop="name  headline" elementtiming=page-title style="view-transition-name: x-{{ page.date | date: '%Y-%m-%d' }}">{{ page.title }}</h1>

          <p class=hide>Written by <b itemprop=author>Harry Roberts</b> on <b itemprop=publisher>CSS Wizardry</b>.</p>

          {% if page.case-study != true %}

          {% endif %}

          {% if page.toc != false %}
            <details class=c-toc>

              <summary>Table of Contents</summary>

                <p>Independent writing is brought to you via my wonderful
                  <a href="/supporters/">Supporters</a>.</p>

                {% include toc.html html=content ordered=true h_max=3 %}

            </details>
          {% endif %}

          {{ content }}

      </div><!-- /.s-post -->

        {% if page.faq %}
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "FAQPage",
              "mainEntity": [
                {% for item in page.faq %}
                {
                  "@type": "Question",
                  "name": "{{ item.question | escape }}",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ item.answer | escape }}"
                  }
                }{% if forloop.last == false %},{% endif %}
                {% endfor %}
              ]
            }
          </script>
        {% endif %}

        {% if page.case-study != true %}

        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "url": "{{ site.url }}{{ page.url }}",
            "name": "{{ page.title }}",
            "headline": "{{ page.title }}",
            "keywords": "{{ page.tags | join: ',' }}",
            "description": "{{ page.meta }}",
            "datePublished": "{{ page.date }}",
            "dateModified": "{{ page.last_modified_at | default: page.date }}",
            "author": {
              "@type": "Person",
              "url": "{{ site.url }}",
              "name": "Harry Roberts"
            },
            "publisher": {
              "@type": "Organization",
              "name": "{{ site.title }}",
              "url": "{{ site.url }}",
              "logo": {
                "@type": "ImageObject",
                "width": 128,
                "height": 128,
                "url": "{{ site.url }}/icon.png"
              }
            },
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "{{ site.url }}{{ page.url }}"
            {% if page.main %}
            },
            "image": {
              "@type": "ImageObject",
              "url": "{{ page.main }}"
            {% endif %}
            }
          }
        </script>

        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
              "@type": "ListItem",
              "position": 1,
              "name": "blog",
              "item": "https://csswizardry.com/blog/"
            }, {
              "@type": "ListItem",
              "position": 2,
              "name": "{{ page.date | date: "%Y" }}",
              "item": "https://csswizardry.com/blog/#year-{{ page.date | date: "%Y" }}"
            }, {
              "@type": "ListItem",
              "position": 3,
              "name": "{{ page.title }}",
              "item": "{{ site.url }}{{ page.url }}"
            }]
          }
        </script>

        <hr />

        {% include article-pagination.html %}

        <hr />

        <div class=layout>

          <div class="layout__item  one-half">

            {% include web-share.html %}

            </div><div class="layout__item  one-half">

            <p><a href=/consultancy/ class="btn  btn--full
                                            btn--positive">
              <strong>Hire me</strong><span class="hide"> as your site speed consultant</span></a></p>

          </div>

        </div>

        <hr />

        {% include mini-profile.html %}

        {% endif %}

      <script>performance.mark('contentEnd')</script>
    </section
    ><section class="layout__item  desk-three-tenths  desk-push-one-tenth" data-ui-component="Sub content" id="section:sub-content">

        {% include sub-content.html %}

    </section>

  </div>

</div>

{% include footer.html %}
